* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #080808;
    --secondary-color: #fff;

}

.light-theme {
    --primary-color: #e3fbff;
    --secondary-color: #080808;
    
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg1.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

#theme-icon {
    width: 30px;
    cursor: pointer;
    margin: -8px 8px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav .btn {
    padding: 14px 30px;
    border-radius: 5px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}

.logo {
    width: 14px;
    font-size: 60px;
}

.color-letter {
    color: #ff004f
}

.small-text {
    font-size: 80%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

/* #element {
    font-size: 60px;
    margin-top: 20px;
} */
.banner {
    width: 100%;
    height: 8px;
    background-color: rgb(35, 35, 35, 1);
}


/* projects-section */
#projects {
    padding: 50px 0;
    color: #fff;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: var(--secondary-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* about-section */
#about {
    padding: 80px 0;
}

#about p {
    margin-top: 10px;
    color: var(--secondary-color);  
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;

}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--secondary-color);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.active-link {
    color: var(--secondary-color);
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    color: var(--secondary-color);
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 18px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/* contact me-section */
#contact {
    margin-top: 50px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 10px;
    font-size: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--secondary-color);  
    display: inline-block;
}

.social-icons a:hover {
    color: #ff004f;
}

.btn {
    display: inline-block;
    background: #ff004f;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--primary-color);
    padding: 15px;
    margin: 5px 0;
    color: var(--secondary-color);
    font-size: 18px;
    border: 2px solid #262626;
    border-radius: 6px;
}

/* form .btn {
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
} */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff004f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

#msg {
    color: #61b752;
    margin-top: 10px;
    display: block;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: var(--primary-color);
    font-weight: 300;
    margin-top: 20px;   
}



/* CSS for small screen */
nav .fa-solid {
    display: none;
}

@media only screen and (max-width:1024px) {

    /* #header{
        background-image: url(images/bg1small.png);
    } */
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .fa-solid.fa-bars {
        position: fixed;
        top: 28px;
        /* Adjust as needed */
        right: 16px;
        /* Adjust as needed */
        z-index: 1001;
        /* Ensure the icon stays above other content */
    }

    i.fa-solid.fa-bars.hide {
        display: none !important;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    .logo {
        /* width: 14px; */
        font-size: 40px;
        margin-top: 10px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    #theme-icon {
        width: 30px;
        cursor: pointer;
        margin: 10px 20px;
    }

    nav .btn {
        margin: 0 10px;
        padding: 14px 30px;
        border-radius: 5px;
        background-color: black;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        /* font-size: 16px; */
        margin-right: 20px;
    }

    .work:hover .layer {
        height: 100%;
    }

    .work-list {
        grid-template-columns: repeat(1, 1fr); /* 2 columns for smaller screens */
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-left .btn {
        margin-bottom: 20px;
    }
}